.home-page {
  display: grid;
  gap: 2rem;

  padding-block-end: 4rem;

  .home-page__description {
    h2 {
      font-size: clamp(1rem, 0.85rem + 1.1vw, 1.5rem);
      font-weight: 500;
    }
  }
}
