.app-layout {
display: grid;
grid-template-rows: auto 1fr;

  min-height: 100dvh;

  background-image: var(--prime-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
