:root {
  --prime-bg: #FDF7F5;
  --sec-bg: #FFFFFF;
  --prime-text: #262626;
  --sec-text: #5E5E5E;
  --light-text: #FFFFFF;
  --prime-accent-300: #F9F2EF;
  --prime-accent-500: #F3E0DE;
  --prime-accent-700: #E8ADAD;

  --screen-width: 354px;
  --sides-margin: 1.5rem;
}

@media (prefers-color-scheme: dark){}

@media (prefers-reduced-motion: reduce) {}