:root {
  --prime-bg: #FDF7F5;
  --sec-bg: #FFFFFF;
  --prime-text: #262626;
  --light-text: #FFFFFF;

  --brand-one:#1970FB;
  --brand-two:#7636ED;
  --brand-three:#D525BF;

  --screen-width: 354px;
  --sides-margin: 1.5rem;
}

@media (prefers-color-scheme: dark){}

@media (prefers-reduced-motion: reduce) {}